* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

li {
  list-style: none; }

input:hover,
input:focus,
input:active {
  outline: none; }

body {
  font-family: Arial, sans-serif;
  color: #222;
  font-size: 13px; }

html,
body {
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%; }
  @media screen and (max-width: 767px) {
    .wrapper {
      min-height: calc(100% + 80px); } }

header {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0; }
  @media screen and (max-width: 767px) {
    header {
      justify-content: space-between; } }
  header .header-block {
    display: flex;
    align-items: center;
    padding: 20px 30px 0; }
    @media screen and (max-width: 767px) {
      header .header-block {
        padding: 0 4px; } }
    header .header-block .header-link {
      padding-right: 15px;
      color: rgba(0, 0, 0, 0.87);
      line-height: 24px; }
      @media screen and (max-width: 767px) {
        header .header-block .header-link {
          display: none; } }
      header .header-block .header-link:hover {
        opacity: .85;
        text-decoration: underline; }
    header .header-block .menu-img {
      height: 30px;
      width: 30px;
      margin-right: 15px;
      background: transparent url("../img/sprite.png") -132px -38px no-repeat;
      opacity: .55;
      display: inline-block; }
      header .header-block .menu-img:hover {
        opacity: 1; }
    header .header-block .alerts {
      display: inline-block;
      height: 20px;
      width: 20px;
      margin: 5px;
      background: rgba(0, 0, 0, 0.55) url("../img/sprite.png") -194px -21px no-repeat;
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 50%; }
      header .header-block .alerts:hover {
        background-color: #000; }
    header .header-block .enter {
      display: inline-block;
      padding: 0 12px;
      margin-left: 15px;
      border: 1px solid #4285f4;
      border-radius: 2px;
      font-weight: bold;
      outline: none;
      background: -webkit-linear-gradient(top, #4387fd, #4683ea);
      background: linear-gradient(top, #4387fd, #4683ea);
      line-height: 28px;
      color: #fff;
      cursor: pointer; }
      @media screen and (max-width: 767px) {
        header .header-block .enter {
          margin: 0 4px 0 15px; } }
      header .header-block .enter:active {
        -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
        background: #3c78dc;
        background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
        background: linear-gradient(top, #3c7ae4, #3f76d3); }
  header .header-left-mob {
    display: flex;
    align-items: center;
    overflow-x: hidden; }
    @media screen and (min-width: 768px) {
      header .header-left-mob {
        display: none; } }
    header .header-left-mob .menu-mob-icon {
      display: inline-block;
      padding: 12px 16px; }
    header .header-left-mob a {
      display: block;
      -webkit-box-flex: 0;
      flex: 0 0 auto;
      font-size: 12px;
      font-weight: 600;
      line-height: 46px;
      margin-right: 8px;
      padding: 0 8px;
      text-align: center;
      color: #757575;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: 2px solid transparent; }
      header .header-left-mob a.active {
        color: #4285f4;
        border-bottom: 2px solid #4285f4; }

.main-block {
  margin-top: 39px;
  text-align: center;
  flex: 1 0 auto; }
  @media screen and (max-width: 767px) {
    .main-block {
      margin-top: 20px; } }
  .main-block .logo {
    height: auto;
    max-width: 272px;
    padding-top: 109px;
    padding-bottom: 15px; }
    @media screen and (max-width: 767px) {
      .main-block .logo {
        padding: 0;
        margin: 24px auto 26px;
        width: 160px; } }
  .main-block .search-wrapper {
    position: relative;
    max-width: 583px;
    margin: 8px auto 0;
    background-color: #fff; }
    @media screen and (max-width: 767px) {
      .main-block .search-wrapper {
        margin: 8px auto;
        padding-right: 38px; } }
    @media screen and (max-width: 620px) {
      .main-block .search-wrapper {
        margin-right: 8px;
        margin-left: 8px; } }
    .main-block .search-wrapper .main-search {
      border: none;
      padding: 0px 100px 0px 16px;
      height: 44px;
      box-sizing: border-box;
      width: 100%;
      font-size: 16px;
      line-height: 34px;
      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1); }
      @media screen and (max-width: 767px) {
        .main-block .search-wrapper .main-search {
          padding: 5px 8px;
          height: 40px;
          background-color: #fff;
          border-right: none;
          border-top: 1px solid silver;
          border-left: 1px solid #d9d9d9;
          border-bottom: 1px solid #d9d9d9;
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          box-shadow: none; } }
      .main-block .search-wrapper .main-search:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        @media screen and (max-width: 767px) {
          .main-block .search-wrapper .main-search:hover {
            box-shadow: none; } }
      .main-block .search-wrapper .main-search:active {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        @media screen and (max-width: 767px) {
          .main-block .search-wrapper .main-search:active {
            box-shadow: none; } }
      .main-block .search-wrapper .main-search:focus {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        @media screen and (max-width: 767px) {
          .main-block .search-wrapper .main-search:focus {
            box-shadow: none; } }
    .main-block .search-wrapper .mob-search-action-btn {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      height: 40px;
      width: 38px;
      border-radius: 0 8px 8px 0;
      background-color: #4d90fe;
      box-sizing: border-box;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#3079ed));
      border: 1px solid #3079ed; }
      .main-block .search-wrapper .mob-search-action-btn .search-icon-mob {
        display: inline-block;
        background: url("../img/sprite-mob.png") no-repeat -107px -55px;
        background-size: 167px;
        height: 24px;
        margin: auto;
        width: 24px; }
      @media screen and (min-width: 768px) {
        .main-block .search-wrapper .mob-search-action-btn {
          display: none; } }
    .main-block .search-wrapper .search-images {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 8px;
      height: 100%; }
      @media screen and (max-width: 767px) {
        .main-block .search-wrapper .search-images {
          display: none; } }
      .main-block .search-wrapper .search-images .keyboard-link, .main-block .search-wrapper .search-images .microphone-link {
        position: relative;
        display: inline-block;
        line-height: 44px; }
        .main-block .search-wrapper .search-images .keyboard-link .keyboard, .main-block .search-wrapper .search-images .microphone-link .keyboard {
          padding: 0 8px;
          display: inline-block;
          height: 11px;
          width: 19px;
          vertical-align: middle;
          background: url("../img/keyboard.gif") no-repeat center;
          opacity: 0.6; }
          .main-block .search-wrapper .search-images .keyboard-link .keyboard:hover, .main-block .search-wrapper .search-images .microphone-link .keyboard:hover {
            opacity: 1; }
        .main-block .search-wrapper .search-images .keyboard-link:hover .hint, .main-block .search-wrapper .search-images .microphone-link:hover .hint {
          display: block; }
      .main-block .search-wrapper .search-images .microphone-link .microphone {
        padding: 0 8px;
        display: inline-block;
        height: 23px;
        width: 18px;
        vertical-align: middle;
        background: url("../img/microphone.png") no-repeat center;
        background-size: 24px 24px; }
    .main-block .search-wrapper .hint {
      position: absolute;
      display: none;
      left: 50%;
      top: 50px;
      transform: translateX(-50%);
      background-color: #2d2d2d;
      border: 1px solid #fff;
      color: #fff;
      font-size: 11px;
      font-weight: bold;
      height: 29px;
      line-height: 29px;
      padding: 0 10px;
      text-align: center;
      white-space: nowrap;
      z-index: 2000;
      box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
      box-sizing: border-box;
      transition: opacity 0.13s; }
      .main-block .search-wrapper .hint:after {
        content: '';
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #2d2d2d; }
    .main-block .search-wrapper .search-result {
      display: none;
      position: absolute;
      width: 100%;
      background-color: #fff;
      z-index: 1000;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
      @media screen and (max-width: 767px) {
        .main-block .search-wrapper .search-result {
          position: relative;
          width: calc(100% + 38px);
          border-radius: 0 0 8px 8px; } }
      .main-block .search-wrapper .search-result .search-result-row {
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 22px;
        text-align: left; }
        @media screen and (max-width: 767px) {
          .main-block .search-wrapper .search-result .search-result-row {
            padding-left: 0;
            padding-right: 0;
            border-bottom: 1px solid #d9d9d9; } }
        .main-block .search-wrapper .search-result .search-result-row:hover {
          background-color: #eee; }
        .main-block .search-wrapper .search-result .search-result-row .result-text {
          flex: 1;
          padding-right: 8px;
          color: #52188c;
          font-size: 16px;
          font-weight: bold;
          text-transform: lowercase;
          overflow: hidden; }
          @media screen and (max-width: 767px) {
            .main-block .search-wrapper .search-result .search-result-row .result-text {
              display: inline-block;
              padding: 10px 3px 11px 8px; } }
        .main-block .search-wrapper .search-result .search-result-row .delete-search-result {
          display: flex;
          align-items: center;
          padding-right: 3px;
          color: #609;
          float: right; }
          @media screen and (max-width: 767px) {
            .main-block .search-wrapper .search-result .search-result-row .delete-search-result .delete {
              display: none; } }
          .main-block .search-wrapper .search-result .search-result-row .delete-search-result .delete-icon {
            display: inline-block;
            color: #bababa;
            font-size: 27px;
            width: 37px;
            text-align: center; }
            .main-block .search-wrapper .search-result .search-result-row .delete-search-result .delete-icon:active {
              text-decoration: none; }
            @media screen and (min-width: 768px) {
              .main-block .search-wrapper .search-result .search-result-row .delete-search-result .delete-icon {
                display: none; } }
        .main-block .search-wrapper .search-result .search-result-row .deleted {
          color: #666;
          line-height: 22px;
          font-size: 16px; }
          .main-block .search-wrapper .search-result .search-result-row .deleted a {
            color: #1a0dab;
            cursor: pointer; }
            .main-block .search-wrapper .search-result .search-result-row .deleted a:visited {
              color: #609; }
      .main-block .search-wrapper .search-result .search-result-buttons {
        padding: 10px 0 0; }
        @media screen and (max-width: 767px) {
          .main-block .search-wrapper .search-result .search-result-buttons {
            display: none; } }
        .main-block .search-wrapper .search-result .search-result-buttons .result-button {
          min-width: 54px;
          padding: 0 16px;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
          background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
          border-radius: 2px;
          background-color: #f2f2f2;
          border: 1px solid #f2f2f2;
          color: #757575;
          cursor: default;
          font-weight: bold;
          text-align: center;
          line-height: 27px;
          line-height: normal;
          margin: 3px; }
          .main-block .search-wrapper .search-result .search-result-buttons .result-button:hover {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
            background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
            -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            background-color: #f8f8f8;
            background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
            background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
            border: 1px solid #c6c6c6;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            color: #222; }
  .main-block .search-btns {
    padding-top: 18px; }
    @media screen and (max-width: 767px) {
      .main-block .search-btns {
        display: none; } }
    .main-block .search-btns .btn-search {
      min-width: 54px;
      padding: 0 16px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
      background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
      border-radius: 2px;
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2;
      color: #757575;
      cursor: default;
      font-weight: bold;
      text-align: center;
      line-height: 27px;
      height: 36px;
      margin: 11px 4px; }
      .main-block .search-btns .btn-search:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
        background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-color: #f8f8f8;
        background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
        background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
        border: 1px solid #c6c6c6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        color: #222; }
  .main-block .lang {
    padding: 12px 12px 0;
    margin-bottom: 24px;
    line-height: 28px; }
    .main-block .lang a {
      color: #1a0dab;
      padding: 0 3px; }
      @media screen and (max-width: 767px) {
        .main-block .lang a {
          padding: 0 8px; } }
      .main-block .lang a:visited {
        color: #609; }

footer {
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
  flex: 0 0 auto; }
  footer .footer-line.footer-line-first {
    padding-left: 27px;
    padding-right: 27px;
    border-bottom: 1px solid #e4e4e4;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px; }
    @media screen and (max-width: 767px) {
      footer .footer-line.footer-line-first {
        padding-left: 12px;
        padding-right: 12px;
        font-size: 16px; } }
  footer .footer-line.footer-line-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      footer .footer-line.footer-line-second {
        flex-direction: column-reverse;
        align-items: center; } }
    footer .footer-line.footer-line-second .footer-link {
      color: #666;
      padding-left: 27px;
      line-height: 40px; }
    footer .footer-line.footer-line-second .f-l-left {
      display: inline-block; }
    footer .footer-line.footer-line-second .f-l-right {
      display: inline-block;
      margin-right: 30px; }
      @media screen and (max-width: 767px) {
        footer .footer-line.footer-line-second .f-l-right {
          display: flex;
          margin-right: 0; } }
      @media screen and (max-width: 767px) {
        footer .footer-line.footer-line-second .f-l-right .settings-link {
          order: 1;
          padding-left: 0; } }
      @media screen and (max-width: 767px) {
        footer .footer-line.footer-line-second .f-l-right .confidentiality-link {
          order: 2; } }
      @media screen and (max-width: 767px) {
        footer .footer-line.footer-line-second .f-l-right .conditions-link {
          order: 3; } }
  footer a:active {
    color: #dd4b39; }

/*# sourceMappingURL=styles.css.map */
